{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
    }
  },
  "plugins": [
    [
      "@babel/transform-runtime"
    ]
  ],
  "comments": false,
  "sourceType": "unambiguous"
}
