.DS_Store
/dist/
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npmrc

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Directories that are not interesting and build artifacts
/nist/sts-2.1.2/experiments/
/nist/sts-2.1.2/obj/
/nist/sts-2.1.2/assess/
/nist/output
